{% trans_default_domain 'FOSUserBundle' %}

<h3>Login into the blog</h3>
<hr> 
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" autocomplete="username"  placeholder="Username">
            {# <p class="help-block text-danger"></p> #}
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <input type="password" id="password" name="_password" class="form-control" required="required" autocomplete="current-password" placeholder="Password"/>
            {# <p class="help-block text-danger"></p> #}
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" placeholder="Remember me"/>
        </div>
    </div>

    <br>
    <div id="success"></div>
    <div class="form-group">
        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" id="sendMessageButton"/ value="Login">
        <a class="btn btn-secondary" href="{{ path('home') }}">Volver</a>
    </div>
</form> 


