.form-box {
    margin-top: 80px;
}

.logo {
    font-size: 30px;
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
    padding: 2em 1em 0.5em 1em;;
    border-bottom: 1px solid #dee2e6;
}

.checkbox {
    border: none !important;
}

.checkbox::after {
    content: "Remember me";
    color: #868e96;
    opacity: 1;
    font-size: 1.5em;
    font-family: 'Lora', 'Times New Roman', serif;
}

.actions {
    text-align: center;
}

.action-right {
    margin-left: 10px;
}

.page-link {
    background: #0085A1 !important;
    border: 1px solid #0085A1 !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border-radius: 0 !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-link:hover, .page-link:focus {
    background-color: #00657b !important;
    border-color: #00657b !important; 
}

.pagination .disabled .page-link {
    opacity: 0.6;
}

.pagination .active .page-link {
    background: #00657b !important;
    border: 1px solid #FFF !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

#image-preview {
    margin-top: 15px;
    margin-bottom: 15px;
}

.comments p {
    font-size: 18px;
}

.comments h4 {
    font-size: 19px;
}

.comments span {
    font-size: 18.5px;
}
