{% trans_default_domain 'FOSUserBundle' %}

<h3>Register for new users</h3>
<hr>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            {{ form_row(form.username, {'attr': { 'class': 'form-control', 'placeholder': 'Name' }}) }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            {{ form_row(form.email, {'attr': { 'class': 'form-control', 'placeholder': 'Email' }}) }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            {{ form_row(form.plainPassword.first, {'attr': { 'class': 'form-control', 'placeholder': 'Password' }}) }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            {{ form_row(form.plainPassword.second, {'attr': { 'class': 'form-control', 'placeholder': 'Repeat password' }}) }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>

    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        <a class="btn btn-secondary" href="{{ path('home') }}">Volver</a>
    </div>


{{ form_end(form) }}



