{% extends 'base.html.twig' %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ADMIN PANEL</h1>
            <span class="subheading">Content for admin role</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  

  <div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">

          {% block admincontent %}

          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Published at</th>
                <th>Actions</th>
              </tr>             
            </thead>
            <tbody>
              
            {% for article in pagination %}
              <tr>
                <td>{{ article.id }}</td>
                <td><a href="{{ path('article', { 'slug': article.slug }) }}">{{ article.title }}</a></td>
                <td>{{ article.publishedAt| date('F jS \\a\\t g:ia') }}</td>
                <td class="actions">
                    <a href="{{ path('admin_edit', { 'slug': article.slug }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="{{ path('admin_delete', { 'slug': article.slug }) }}"><i class="fa fa-trash action-right" aria-hidden="true"></i></a>
                </td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>

          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>
        
          <div>
            <a class="btn btn-primary" href="{{ path('admin_create') }}">New post</a>
            <a class="btn btn-secondary" href="{{ path('home') }}">Home</a>
          </div>

          {% endblock %}
        </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">

      $( document ).ready(function() {
          $('.pagination').addClass("justify-content-center");
      });

  </script>
{% endblock %}
