{% extends 'admin/admin.html.twig' %}


    {% block admincontent %}
        
        {% if slug is defined %}
            <h3>Edit post</h3>
            <hr>      
            {{ form_start(form, {'method': 'post', 'action': path('admin_edit', { 'slug': slug })}) }}
        {% else %}
            <h3>Create new post</h3>
            <hr>
            {{ form_start(form, {'method': 'post', 'action': path('admin_create')}) }}
        {% endif %}
        
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    {{ form_row(form.title, {'attr': { 'class': 'form-control', 'placeholder': 'Title' }}) }}
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    {{ form_row(form.subtitle, {'attr': { 'class': 'form-control', 'placeholder': 'Subtitle' }}) }}
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls border-bottom-none">
                    {{ form_row(form.category, {'attr': { 'class': 'form-control category', 'placeholder': 'Category' }}) }}
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls border-bottom-none">
                    {{ form_row(form.tags, {'attr': { 'class': 'form-control tags', 'placeholder': 'Tags' }}) }}
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    {{ form_row(form.image, {'attr': { 'class': 'form-control col-lg-3', 'placeholder': 'Image' }}) }}
                    <img id="image-preview" class="img-fluid" width="300px" src="" alt="">
                </div>                  
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    {{ form_row(form.content, {'attr': { 'class': 'form-control ckeditor', 'placeholder': 'Content' }}) }}
                </div>
            </div>
            <br>
            
            <div>
                {% if slug is defined %}
                    <input class="btn btn-primary" type="submit" value="Edit" />
                {% else %}
                    <input class="btn btn-primary" type="submit" value="Create" />
                {% endif %}               
                <a class="btn btn-secondary" href="{{ path('admin') }}">Volver</a>
            </div>
       
        {{ form_end(form) }} 

    {% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">

        $( document ).ready(function() {
            var select = $('.category')[0];
            var tags = $('.tags')[0];
            $(select).prepend('<option value="" disabled selected="selected">Select a category...</option>');
            $(tags).prepend('<option value="" disabled>Select tags...</option>');
            $('textarea.ckeditor').ckeditor();
        });

    </script>
{% endblock %}