{% extends 'base.html.twig' %}

{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ asset("uploads/images/"~article.image) }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ article.title }}</h1>
          <h2 class="subheading">{{ article.subtitle }}</h2>
          <div class="row">
            <div class="col-lg-4">
                <h3 class="meta">Category: 
                  <span>{{ article.category }}</span>
                </h3>
            </div>
            <div class="col-lg-6">
              <h3 class="meta">Tags: 
                {% for tag in article.tags %}
                  <span>{{ tag }}</span>
                {% endfor %}
              </h3>
            </div>
          </div>
          
          
          <span class="meta">Posted by
                {% if article.author is not null %}
                {{ article.author.firstName ~' '~ article.author.lastName }}
              {% else %}
                Blog owner
              {% endif %}
            on {{ article.publishedAt | date('F jS \\a\\t g:ia')}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ article.content | raw }}
        <hr>
        <div class="row">
          <div class="comments">
            <h4 class="meta">Comments: ({{comments|length }})</h4>
        
            {% for comment in comments %}
              <p><span><b>{{ comment.user.firstName ~ ' ' ~   comment.user.lastName }}</b> - <i>{{ comment.createdAt | date('F jS \\a\\t g:ia') }}</i></span></p>
              <p>{{ comment.content | raw }}</p>
              <hr class="comments">
            {% endfor %}
          </div>
        </div>
        

        <div>
          <a class="btn btn-secondary" href="{{ path('home') }}">Home</a>
          <a class="btn btn-primary" href="{{ path('comment', { 'slug': article.slug }) }}">Comment</a>
        </div>
      </div>
    </div>
  </div>
</article>

{% endblock %}
