{% extends 'base.html.twig' %}

{% block body %}

 <!-- Page Header -->
<header class="masthead" style="background-image: url('')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          
        </div>
      </div>
    </div>
  </div>
</header> 

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Add a comment</h3>
        <hr>     
        {{ form_start(form, {'method': 'post', 'action': path('comment', {'slug': slug})}) }}
        <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                {{ form_row(form.content, {'attr': { 'class': 'form-control ckeditor', 'placeholder': 'Content' }}) }}
                {# <p class="help-block text-danger"></p> #}
            </div>
        </div> 
        <br>
        <input class="btn btn-primary" type="submit" value="Save" />
        {{ form_end(form) }} 

      </div>
    </div>
  </div>
</article>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">

        $( document ).ready(function() {
            $('textarea.ckeditor').ckeditor();
        });

    </script>
{% endblock %}