{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ asset("img/glass.jpg") }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Personal blog</h1>
            <span class="subheading">A simple and personal blog with interesting things</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in pagination %}
        <div class="post-preview">
          <a href="{{ path('article', { 'slug': article.slug }) }}">
            <h2 class="post-title">
              {{ article.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ article.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">
              {% if article.author is not null %}
                {{ article.author.firstName ~' '~ article.author.lastName }}
              {% else %}
                Blog owner
              {% endif %}
            </a>
            on {{ article.publishedAt| date('F jS \\a\\t g:ia') }}
          </p>
        </div>
        <hr>
        {% endfor %}
        
        <!-- Pager -->
        <div class="clearfix">
          {# <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> #}
          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
  
  {% block javascripts %}
  {{ parent() }}
 
    <script type="text/javascript">

        $( document ).ready(function() {
            $('.pagination').addClass("justify-content-center");
        });

    </script>
  {% endblock %}